@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


  body{
    padding: 15px 35px;
    background: rgb(231, 241, 240)

  }

  .container{
    display: flex;
    background: #1f7cf7;
    height: 130px
  }
header{
  display: flex;
  width: 100%;
  
  justify-content: space-between;
  
}
.logo{
  color: #020231;
  display: block;
  float: left;
  font-size: 90px;
  background-image: url("images/choccookiescreamcupcakes3_bakedbyrachel.jpg"); 
 }

  .container a{
    text-decoration-line: none;
    color: #f0f6fa;
    padding: 6px;
    font-size: 24px;
 

    

  }

  
  nav{
   display: block;
   overflow: hidden;
    
    justify-content: flex-end;
    
    
  }
  .dropdown{
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  nav a:hover, .dropdown:hover .dropbtn {
    background-color:rgb(30, 5, 71);
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #210868;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
  }
  .dropdown-content a {
    float: none;
    color:  #f0f6fa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: rgb(30, 5, 71);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

  .info{
    float: left;
    width: 45%;
    border-left-style: solid;
    border-left-color: #69696a;
  }

   .row{
    
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
  
    border-style: ridge;
    border-color: #000;
  }
  .column {
    
    float: left;
    width: 40%;
    text-align: center;
    font-size: 16px;
    padding: 2px;
   
}

.columnSel {
  float: right;
  width: 10%;
  text-align: center;
  font-size: 16px;
  padding: 2px;
 
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h1{
  text-align: center;
  background: cornflowerblue;
}